	fieldset{
		margin-top:2rem;
		width:600px;
		background:rgba(0,0,250,0.1);
	}
	input[type="submit"]{
		position:relative;
		top:50px;
		left:275px;
		padding:10px 25px;
		border:none;
		background:green;
		color:white;
		border-radius:5px;
		cursor:pointer;
		
	}
	input[type="text"],input[type="password"]
	{
		width:250px;
	}
	.content{
		height:70rem;width:100%;
	}